{
	"openapi": "3.0.0",
	"info": {
		"title": "Picol API",
		"version": "1.0",
		"description": "Alpha testing of new RCMS API"
	},
	"servers": [
		{
			"url": "https://picol.kuroco.app",
			"description": "API Backend"
		}
	],
	"paths": {
		"/rcms-api/1/login": {
			"summary": "login:1:Login:login_challenge",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Authentication"
				],
				"summary": "",
				"description": "\n### **Login::login_challenge (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string",
										"default": "",
										"example": "",
										"description": "Login ID"
									},
									"password": {
										"type": "string",
										"writeOnly": true,
										"default": "",
										"example": "",
										"description": "Password"
									},
									"login_save": {
										"type": "integer",
										"format": "int64",
										"enum": [
											0,
											1
										],
										"default": 0,
										"example": 0,
										"description": "Log in automatically next time"
									}
								}
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/token": {
			"summary": "login:1:Login:token",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Authentication"
				],
				"summary": "",
				"description": "\n### **Login::token (v1)**\n\n\n## Controller parameters\n\n> **use_refresh_token** `true`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"grant_token": {
										"type": "string",
										"default": "",
										"example": "",
										"description": "Resource grant token"
									},
									"refresh_token": {
										"type": "string",
										"writeOnly": true,
										"default": "",
										"example": "",
										"description": "Refresh token"
									}
								}
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/logout": {
			"summary": "login:1:Login:logout",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Authentication"
				],
				"summary": "",
				"description": "\n### **Login::logout (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/profile": {
			"summary": "login:1:Login:profile",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Authentication"
				],
				"summary": "",
				"description": "\n### **Login::profile (v1)**\n\n\n## Controller parameters\n\n> **basic_info** `nickname,member_photo`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/firebase_token": {
			"summary": "login:1:Login:firebaseToken",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Authentication"
				],
				"summary": "",
				"description": "\n### **Login::firebaseToken (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/gcs_info": {
			"summary": "login:1:Login:gcs_info",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Authentication"
				],
				"summary": "",
				"description": "\n### **Login::gcs_info (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/feeds": {
			"summary": "topics:1:Topics:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Topics"
				],
				"summary": "",
				"description": "\n### **Topics::list (v1)**\n\n\n## Controller parameters\n\n> **topics_group_id** `1`\n\n> **cnt** `9`\n\n> **tag_cond** `AND`\n\n> **tag_search** `1`\n\n> **order** `ymd:desc,topics_id:desc`\n\n> **get_comment_cnt** `1`\n\n> **get_favorite_cnt** `1`\n\n> **add_my_favorite_flg** `1`\n\n> **get_tag_flg** `1`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "cnt",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Number of topics per page"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "custom_search_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "search contdition"
					},
					{
						"name": "topics_keyword",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Keyword"
					},
					{
						"name": "topics_keyword_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way of narrowing down by keyword (Default: AND)"
					},
					{
						"name": "contents_type[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "The ID from the displayed category. All data will be displayed when this is not set."
					},
					{
						"name": "contents_type_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way of narrowing down by category ID (Default: OR)"
					},
					{
						"name": "date",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Date"
					},
					{
						"name": "using_season",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Use season (Yes: 1 | No: 0)"
					},
					{
						"name": "season",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Season"
					},
					{
						"name": "ext_column_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "ext_column condition type (Default:OR)<br> \r\nTo specify an ext_col number set: 'ext_column_{no}_cond'"
					},
					{
						"name": "exclude_topics_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "IDs of the excluded topics"
					},
					{
						"name": "tag_category_id",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "ID of the tag category to be displayed. (Default: All)"
					},
					{
						"name": "tag_search",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "narrowed by the value of the tag id.  yes:1 no:0"
					},
					{
						"name": "tag_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Tag IDs that you would like to display"
					},
					{
						"name": "tag_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way to narrow down tags (Default: OR)"
					},
					{
						"name": "exclude_tag_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Tag IDs that you would like to hide"
					},
					{
						"name": "my_favorite_list",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "my_comment_list",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "my_own_list",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "order",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Set the sort order. Available param {0}"
					},
					{
						"name": "order_by_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "IDs of the displayed topics"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"404": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/feed/create": {
			"summary": "topics:1:Topics:insert",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Topics"
				],
				"summary": "",
				"description": "\n### **Topics::insert (v1)**\n\n\n## Controller parameters\n\n> **topics_group_id** `1`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"subject": {
										"type": "string",
										"default": "",
										"example": "Topics Exemple Title",
										"description": "Topic title"
									},
									"contents_type": {
										"type": "integer",
										"format": "int64",
										"default": 0,
										"example": 0,
										"description": "Category ID\n* 1 => フィード",
										"enum": [
											1
										]
									},
									"ymd": {
										"type": "string",
										"format": "date",
										"description": "Date"
									},
									"open_type": {
										"type": "string",
										"enum": [
											"open",
											"close",
											"default"
										],
										"default": "open",
										"example": "open",
										"description": "Published / Not published"
									},
									"topics_flg": {
										"type": "integer",
										"format": "int64",
										"enum": [
											0,
											1
										],
										"default": 1,
										"example": 1,
										"description": "Display all topics to logged in members, regardless ther public/hidden status"
									},
									"season": {
										"type": "integer",
										"format": "int64",
										"default": 2020,
										"example": 2020,
										"description": "Season"
									},
									"contents": {
										"type": "string",
										"default": "",
										"example": "",
										"description": "Contents"
									},
									"regular_flg": {
										"type": "integer",
										"format": "int64",
										"default": 0,
										"example": 0,
										"description": "display up"
									},
									"link_flg": {
										"type": "integer",
										"format": "int64",
										"default": 0,
										"example": 0,
										"description": "Display method"
									},
									"link_url": {
										"type": "string",
										"default": "",
										"example": "",
										"description": "Link"
									},
									"tag_id": {
										"type": "array",
										"uniqueItems": true,
										"items": {
											"type": "integer",
											"enum": [
												75,
												76,
												67,
												68,
												69,
												70,
												71,
												72,
												73,
												74,
												162,
												163,
												164,
												166,
												171,
												173,
												174,
												175
											]
										},
										"example": [
											0
										],
										"description": "タグID\n* 75 => 推しキャラ(Favorite character)\n* 76 => いい感じの何か(good stuff)\n* 67 => 近況(Now)\n* 68 => ランチ(Lunch)\n* 69 => おやつ(Snack)\n* 70 => 仕事関係\n* 71 => ただしい(Do right)\n* 72 => たのしい(Delight)\n* 73 => ジレンマ(dilemma)\n* 74 => めでたい\n* 162 => おやつ\n* 163 => sakura\n* 164 => 桜\n* 166 => 景色\n* 171 => 重要なお知らせ\n* 173 => ここにタグを設置できます\n* 174 => MalaysiaOffice\n* 175 => 近況"
									},
									"ext_col_06": {
										"description": "動画",
										"type": "object",
										"properties": {
											"file_id": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "File ID returned by File Upload API"
											},
											"file_nm": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "File name"
											},
											"desc": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "Description"
											}
										},
										"required": [],
										"additionalProperties": false
									},
									"ext_col_02": {
										"description": "コメント",
										"type": "string",
										"default": ""
									},
									"ext_col_04": {
										"type": "array",
										"items": {
											"description": "GCSファイル",
											"type": "object",
											"properties": {
												"file_id": {
													"type": "string",
													"default": "",
													"example": "",
													"description": "File ID returned by File Upload API"
												},
												"file_nm": {
													"type": "string",
													"default": "",
													"example": "",
													"description": "File name"
												},
												"desc": {
													"type": "string",
													"default": "",
													"example": "",
													"description": "Description"
												},
												"id": {
													"type": "string",
													"pattern": "^[a-zA-Z0-9-_]+$",
													"default": "",
													"example": "",
													"description": "File ID. Whether the item should be updated or inserted depends on this ID being set or not."
												}
											},
											"required": [],
											"additionalProperties": false
										},
										"description": "GCSファイル",
										"default": [],
										"minItems": 0,
										"maxItems": 5
									},
									"validate_only": {
										"type": "boolean",
										"format": "",
										"example": false,
										"default": false,
										"description": "Validate"
									}
								},
								"additionalProperties": false,
								"required": [
									"subject"
								]
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/feed/delete/{topics_id}": {
			"summary": "topics:1:Topics:delete",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Topics"
				],
				"summary": "",
				"description": "\n### **Topics::delete (v1)**\n\n",
				"parameters": [
					{
						"name": "topics_id",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "path",
						"required": true,
						"style": "simple"
					},
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/feed/update/{topics_id}": {
			"summary": "topics:1:Topics:update",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Topics"
				],
				"summary": "",
				"description": "\n### **Topics::update (v1)**\n\n\n## Controller parameters\n\n> **topics_group_id** `1`\n",
				"parameters": [
					{
						"name": "topics_id",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "path",
						"required": true,
						"style": "simple"
					},
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"subject": {
										"type": "string",
										"default": "",
										"example": "Topics Exemple Title",
										"description": "Topic title"
									},
									"contents_type": {
										"type": "integer",
										"format": "int64",
										"default": 0,
										"example": 0,
										"description": "Category ID\n* 1 => フィード",
										"enum": [
											1
										]
									},
									"ymd": {
										"type": "string",
										"format": "date",
										"description": "Date"
									},
									"open_type": {
										"type": "string",
										"enum": [
											"open",
											"close",
											"default"
										],
										"default": "open",
										"example": "open",
										"description": "Published / Not published"
									},
									"topics_flg": {
										"type": "integer",
										"format": "int64",
										"enum": [
											0,
											1
										],
										"default": 1,
										"example": 1,
										"description": "Display all topics to logged in members, regardless ther public/hidden status"
									},
									"season": {
										"type": "integer",
										"format": "int64",
										"default": 2020,
										"example": 2020,
										"description": "Season"
									},
									"contents": {
										"type": "string",
										"default": "",
										"example": "",
										"description": "Contents"
									},
									"regular_flg": {
										"type": "integer",
										"format": "int64",
										"default": 0,
										"example": 0,
										"description": "display up"
									},
									"link_flg": {
										"type": "integer",
										"format": "int64",
										"default": 0,
										"example": 0,
										"description": "Display method"
									},
									"link_url": {
										"type": "string",
										"default": "",
										"example": "",
										"description": "Link"
									},
									"tag_id": {
										"type": "array",
										"uniqueItems": true,
										"items": {
											"type": "integer",
											"enum": [
												75,
												76,
												67,
												68,
												69,
												70,
												71,
												72,
												73,
												74,
												162,
												163,
												164,
												166,
												171,
												173,
												174,
												175
											]
										},
										"example": [
											0
										],
										"description": "タグID\n* 75 => 推しキャラ(Favorite character)\n* 76 => いい感じの何か(good stuff)\n* 67 => 近況(Now)\n* 68 => ランチ(Lunch)\n* 69 => おやつ(Snack)\n* 70 => 仕事関係\n* 71 => ただしい(Do right)\n* 72 => たのしい(Delight)\n* 73 => ジレンマ(dilemma)\n* 74 => めでたい\n* 162 => おやつ\n* 163 => sakura\n* 164 => 桜\n* 166 => 景色\n* 171 => 重要なお知らせ\n* 173 => ここにタグを設置できます\n* 174 => MalaysiaOffice\n* 175 => 近況"
									},
									"ext_col_06": {
										"description": "動画",
										"type": "object",
										"properties": {
											"file_id": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "File ID returned by File Upload API"
											},
											"file_nm": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "File name"
											},
											"desc": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "Description"
											}
										},
										"required": [],
										"additionalProperties": false
									},
									"ext_col_02": {
										"description": "コメント",
										"type": "string",
										"default": ""
									},
									"ext_col_04": {
										"type": "array",
										"items": {
											"description": "GCSファイル",
											"type": "object",
											"properties": {
												"file_id": {
													"type": "string",
													"default": "",
													"example": "",
													"description": "File ID returned by File Upload API"
												},
												"file_nm": {
													"type": "string",
													"default": "",
													"example": "",
													"description": "File name"
												},
												"desc": {
													"type": "string",
													"default": "",
													"example": "",
													"description": "Description"
												},
												"id": {
													"type": "string",
													"pattern": "^[a-zA-Z0-9-_]+$",
													"default": "",
													"example": "",
													"description": "File ID. Whether the item should be updated or inserted depends on this ID being set or not."
												}
											},
											"required": [],
											"additionalProperties": false
										},
										"description": "GCSファイル",
										"default": [],
										"minItems": 0,
										"maxItems": 5
									},
									"validate_only": {
										"type": "boolean",
										"format": "",
										"example": false,
										"default": false,
										"description": "Validate"
									}
								},
								"additionalProperties": false
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/tg": {
			"summary": "topics:1:TopicsGroup:details",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Topics"
				],
				"summary": "",
				"description": "\n### **TopicsGroup::details (v1)**\n\n\n## Controller parameters\n\n> **topics_group_id** `1`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/feed-group": {
			"summary": "topics:1:TopicsGroup:details",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Topics"
				],
				"summary": "",
				"description": "\n### **TopicsGroup::details (v1)**\n\n\n## Controller parameters\n\n> **topics_group_id** `1`\n\n> **ext_config_flg** `1`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/infos": {
			"summary": "topics:1:Topics:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Topics"
				],
				"summary": "",
				"description": "\n### **Topics::list (v1)**\n\n\n## Controller parameters\n\n> **topics_group_id** `5`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "cnt",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Number of topics per page"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "custom_search_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "search contdition"
					},
					{
						"name": "topics_keyword",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Keyword"
					},
					{
						"name": "topics_keyword_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way of narrowing down by keyword (Default: AND)"
					},
					{
						"name": "contents_type[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "The ID from the displayed category. All data will be displayed when this is not set."
					},
					{
						"name": "contents_type_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way of narrowing down by category ID (Default: OR)"
					},
					{
						"name": "date",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Date"
					},
					{
						"name": "using_season",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Use season (Yes: 1 | No: 0)"
					},
					{
						"name": "season",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Season"
					},
					{
						"name": "ext_column_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "ext_column condition type (Default:OR)<br> \r\nTo specify an ext_col number set: 'ext_column_{no}_cond'"
					},
					{
						"name": "exclude_topics_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "IDs of the excluded topics"
					},
					{
						"name": "tag_category_id",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "ID of the tag category to be displayed. (Default: All)"
					},
					{
						"name": "tag_search",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "narrowed by the value of the tag id.  yes:1 no:0"
					},
					{
						"name": "tag_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Tag IDs that you would like to display"
					},
					{
						"name": "tag_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way to narrow down tags (Default: OR)"
					},
					{
						"name": "exclude_tag_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Tag IDs that you would like to hide"
					},
					{
						"name": "my_favorite_list",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "my_comment_list",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "my_own_list",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "order",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Set the sort order. Available param {0}"
					},
					{
						"name": "order_by_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "IDs of the displayed topics"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"404": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/pre_info": {
			"summary": "topics:1:Topics:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Topics"
				],
				"summary": "",
				"description": "\n### **Topics::list (v1)**\n\n\n## Controller parameters\n\n> **topics_group_id** `6`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "cnt",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Number of topics per page"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "custom_search_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "search contdition"
					},
					{
						"name": "topics_keyword",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Keyword"
					},
					{
						"name": "topics_keyword_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way of narrowing down by keyword (Default: AND)"
					},
					{
						"name": "contents_type[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "The ID from the displayed category. All data will be displayed when this is not set."
					},
					{
						"name": "contents_type_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way of narrowing down by category ID (Default: OR)"
					},
					{
						"name": "date",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Date"
					},
					{
						"name": "using_season",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Use season (Yes: 1 | No: 0)"
					},
					{
						"name": "season",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Season"
					},
					{
						"name": "ext_column_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "ext_column condition type (Default:OR)<br> \r\nTo specify an ext_col number set: 'ext_column_{no}_cond'"
					},
					{
						"name": "exclude_topics_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "IDs of the excluded topics"
					},
					{
						"name": "tag_category_id",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "ID of the tag category to be displayed. (Default: All)"
					},
					{
						"name": "tag_search",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "narrowed by the value of the tag id.  yes:1 no:0"
					},
					{
						"name": "tag_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Tag IDs that you would like to display"
					},
					{
						"name": "tag_cond",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Change the way to narrow down tags (Default: OR)"
					},
					{
						"name": "exclude_tag_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Tag IDs that you would like to hide"
					},
					{
						"name": "my_favorite_list",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "my_comment_list",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "my_own_list",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "order",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Set the sort order. Available param {0}"
					},
					{
						"name": "order_by_id",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "IDs of the displayed topics"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"404": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/members/{member_id}": {
			"summary": "member:1:Member:details",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Members"
				],
				"summary": "",
				"description": "\n### **Member::details (v1)**\n\n\n## Controller parameters\n\n> **group_id** `1`\n",
				"parameters": [
					{
						"name": "member_id",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "path",
						"required": true,
						"style": "simple"
					},
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/members": {
			"summary": "member:1:Member:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Members"
				],
				"summary": "",
				"description": "\n### **Member::list (v1)**\n\n\n## Controller parameters\n\n> **subData_flg** `1`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Member ID"
					},
					{
						"name": "cnt",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Number of topics per page"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "s_name",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Member search"
					},
					{
						"name": "s_email",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Member search"
					},
					{
						"name": "s_tel",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Member search"
					},
					{
						"name": "s_address",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Member search"
					},
					{
						"name": "s_tdfk_cd",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Member search"
					},
					{
						"name": "group_id",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Member search"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/member/update": {
			"summary": "member:1:Member:update",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Members"
				],
				"summary": "",
				"description": "\n### **Member::update (v1)**\n\n\n## Controller parameters\n\n> **self_only** `true`\n\n> **unuse_columns** `email`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"nickname": {
										"type": "string",
										"format": "",
										"description": "Nickname",
										"example": "",
										"minLength": 1
									},
									"member_photo": {
										"description": "Image1",
										"type": "object",
										"properties": {
											"file_id": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "File ID returned by File Upload API"
											},
											"file_nm": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "File name"
											},
											"desc": {
												"type": "string",
												"default": "",
												"example": "",
												"description": "Description"
											},
											"extension": {
												"enum": [
													"jpg",
													"gif",
													"png"
												]
											}
										},
										"required": [],
										"additionalProperties": false
									},
									"login_pwd": {
										"type": "string",
										"format": "password",
										"description": "Password",
										"minLength": 1
									},
									"group_id": {
										"type": "array",
										"items": {
											"type": "integer",
											"format": "int64",
											"enum": [
												1,
												2,
												101,
												102
											]
										},
										"minItems": 0,
										"description": "/label/group_id",
										"example": [],
										"default": []
									},
									"open_flg": {
										"type": "integer",
										"format": "int64",
										"description": "/label/open_flg",
										"enum": [
											0,
											1
										],
										"example": 1,
										"default": 1
									},
									"login_ok_flg": {
										"type": "integer",
										"format": "int64",
										"description": "/label/login_ok_flg",
										"enum": [
											0,
											1
										],
										"example": 1,
										"default": 1
									},
									"validate_only": {
										"type": "boolean",
										"format": "",
										"example": false,
										"default": false,
										"description": "Validate"
									}
								},
								"additionalProperties": false
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/comments": {
			"summary": "comment:1:Comment:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Comments"
				],
				"summary": "",
				"description": "\n### **Comment::list (v1)**\n\n\n## Controller parameters\n\n> **groupBy** `module_id`\n\n> **groupAs** `array`\n\n> **module_type** `topics`\n\n> **new_order_flg** `1`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "new_order_flg",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "To the display the newest use 1. Default: 0"
					},
					{
						"name": "cnt",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Display number per page"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "from_date",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Posted Date"
					},
					{
						"name": "to_date",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Posted Date"
					},
					{
						"name": "module_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 1
						},
						"in": "query",
						"required": true,
						"style": "form",
						"explode": true,
						"description": "モジュールID"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/comment/create": {
			"summary": "comment:1:Comment:insert",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Comments"
				],
				"summary": "",
				"description": "\n### **Comment::insert (v1)**\n\n\n## Controller parameters\n\n> **use_module_type** `topics`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"module_id": {
										"type": "integer",
										"format": "int64",
										"description": "モジュールID"
									},
									"name": {
										"type": "string",
										"format": "",
										"example": "My Name",
										"description": "Name"
									},
									"mail": {
										"type": "string",
										"format": "email",
										"example": "email@example.com",
										"description": "Mail"
									},
									"url": {
										"type": "string",
										"format": "uri",
										"example": "https://www.example.com",
										"description": "URL"
									},
									"note": {
										"type": "string",
										"format": "",
										"example": "My Comment",
										"description": "Comments"
									},
									"delkey": {
										"type": "string",
										"format": "password",
										"example": "",
										"description": "削除キー"
									}
								},
								"additionalProperties": false,
								"required": [
									"module_id",
									"name",
									"note"
								]
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/comment/delete": {
			"summary": "comment:1:Comment:delete",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Comments"
				],
				"summary": "",
				"description": "\n### **Comment::delete (v1)**\n\n\n## Controller parameters\n\n> **use_module_type** `topics`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"comment_id": {
										"type": "integer",
										"format": "int64",
										"description": "コメントID"
									},
									"delkey": {
										"type": "string",
										"format": "password",
										"description": "削除キー"
									}
								},
								"additionalProperties": false,
								"required": [
									"comment_id"
								]
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/favorite/create": {
			"summary": "menu:1:Favorite:insert",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Favorites"
				],
				"summary": "",
				"description": "\n### **Favorite::insert (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"module_type": {
										"type": "string",
										"format": "",
										"example": "topics",
										"description": "Module type"
									},
									"module_id": {
										"type": "integer",
										"format": "int64",
										"description": "module_id"
									},
									"page_sysnm": {
										"type": "string",
										"format": "",
										"example": "",
										"description": "ページシステム名"
									}
								},
								"additionalProperties": false,
								"required": [
									"module_type",
									"module_id"
								]
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/favorite/delete": {
			"summary": "menu:1:Favorite:delete",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Favorites"
				],
				"summary": "",
				"description": "\n### **Favorite::delete (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"module_type": {
										"type": "string",
										"format": "",
										"example": "topics",
										"description": "Module type"
									},
									"module_id": {
										"type": "integer",
										"format": "int64",
										"description": "module_id"
									},
									"page_sysnm": {
										"type": "string",
										"format": "",
										"example": "",
										"description": "ページシステム名"
									}
								},
								"additionalProperties": false,
								"required": [
									"module_type",
									"module_id"
								]
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/favorites": {
			"summary": "menu:1:Favorite:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Favorites"
				],
				"summary": "",
				"description": "\n### **Favorite::list (v1)**\n\n\n## Controller parameters\n\n> **groupBy** `module_id`\n\n> **groupAs** `array`\n\n> **module_type** `topics`\n\n> **order** `inst_ymdhi:desc`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "cnt",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Display number per page"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "module_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "member_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Member ID"
					},
					{
						"name": "rcmsid[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"format": ""
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "rcmsid"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/favorites/mylist": {
			"summary": "menu:1:Favorite:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Favorites"
				],
				"summary": "",
				"description": "\n### **Favorite::list (v1)**\n\n\n## Controller parameters\n\n> **module_type** `topics`\n\n> **cnt** `10`\n\n> **order** `inst_ymdhi:desc`\n\n> **my_list** `1`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "cnt",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Display number per page"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "module_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": ""
					},
					{
						"name": "groupBy",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Grouping List by (module_id)"
					},
					{
						"name": "groupAs",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Grouping List as (array or object)"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/file/upload": {
			"summary": "rcms_api:1:Files:upload",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Files"
				],
				"summary": "",
				"description": "\n### **Files::upload (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"422": {
						"description": ""
					},
					"500": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": false,
					"description": "",
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"properties": {
									"file": {
										"type": "string",
										"format": "binary",
										"description": "Upload file"
									}
								},
								"additionalProperties": false,
								"required": [
									"file"
								]
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/tags": {
			"summary": "tag:1:Tag:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Tags"
				],
				"summary": "",
				"description": "\n### **Tag::list (v1)**\n\n\n## Controller parameters\n\n> **groupBy** `module_id`\n\n> **groupAs** `array`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "order[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"format": ""
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Set the sort order. Available param {0}"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Tag IDs that you would like to display"
					},
					{
						"name": "category_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "ID of the tag category to be displayed. (Default: All)"
					},
					{
						"name": "module_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 1
						},
						"in": "query",
						"required": true,
						"style": "form",
						"explode": true,
						"description": "module_id"
					},
					{
						"name": "module_type",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": true,
						"style": "form",
						"explode": true,
						"description": "Module type"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"404": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/tag/create": {
			"summary": "tag:1:Tag:insert",
			"description": "Operations Desc",
			"post": {
				"tags": [
					"Tags"
				],
				"summary": "",
				"description": "\n### **Tag::insert (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				],
				"requestBody": {
					"required": true,
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"tag_nm": {
										"type": "string",
										"example": "Tag Title",
										"description": "Title"
									},
									"tag_category_id": {
										"type": "integer",
										"format": "int64",
										"example": 0,
										"default": 0,
										"description": "Category ID"
									},
									"open_type": {
										"type": "string",
										"format": "",
										"enum": [
											"open",
											"close",
											"default"
										],
										"example": "open",
										"default": "open",
										"description": "Published / Not published"
									},
									"weight": {
										"type": "integer",
										"format": "int64",
										"example": 0,
										"default": 0,
										"description": "Sort"
									},
									"ext_col_01": {
										"type": "string",
										"format": "",
										"description": "ext_col_01",
										"example": ""
									},
									"ext_col_02": {
										"type": "string",
										"format": "",
										"description": "ext_col_02",
										"example": ""
									},
									"ext_col_03": {
										"type": "string",
										"format": "",
										"description": "ext_col_03",
										"example": ""
									},
									"ext_col_04": {
										"type": "string",
										"format": "",
										"description": "ext_col_04",
										"example": ""
									},
									"ext_col_05": {
										"type": "string",
										"format": "",
										"description": "ext_col_05",
										"example": ""
									},
									"ext_col_06": {
										"type": "string",
										"format": "",
										"description": "ext_col_06",
										"example": ""
									},
									"ext_col_07": {
										"type": "string",
										"format": "",
										"description": "ext_col_07",
										"example": ""
									},
									"ext_col_08": {
										"type": "string",
										"format": "",
										"description": "ext_col_08",
										"example": ""
									},
									"ext_col_09": {
										"type": "string",
										"format": "",
										"description": "ext_col_09",
										"example": ""
									},
									"ext_col_10": {
										"type": "string",
										"format": "",
										"description": "ext_col_10",
										"example": ""
									}
								},
								"additionalProperties": false,
								"required": [
									"tag_nm"
								]
							}
						}
					}
				}
			}
		},
		"/rcms-api/1/tags/category_grouped": {
			"summary": "tag:1:Tag:list",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"Tags"
				],
				"summary": "",
				"description": "\n### **Tag::list (v1)**\n\n\n## Controller parameters\n\n> **groupBy** `category`\n\n> **groupAs** `array`\n\n> **order** `category_weight:desc`\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					},
					{
						"name": "order[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"format": ""
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Set the sort order. Available param {0}"
					},
					{
						"name": "pageID",
						"schema": {
							"type": "integer",
							"format": "int64"
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Page ID"
					},
					{
						"name": "id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Tag IDs that you would like to display"
					},
					{
						"name": "category_id[]",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer",
								"format": "int64"
							},
							"minItems": 0
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "ID of the tag category to be displayed. (Default: All)"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"404": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/slack": {
			"summary": "rcms_api:1:Api:request_api",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"API"
				],
				"summary": "",
				"description": "\n### **Api::request_api (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"202": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/test2": {
			"summary": "rcms_api:1:Api:request_api",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"API"
				],
				"summary": "",
				"description": "\n### **Api::request_api (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"202": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		},
		"/rcms-api/1/sendmail": {
			"summary": "rcms_api:1:Api:request_api",
			"description": "Operations Desc",
			"get": {
				"tags": [
					"API"
				],
				"summary": "",
				"description": "\n### **Api::request_api (v1)**\n\n",
				"parameters": [
					{
						"name": "_output_format",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Format (json|xml|csv)"
					},
					{
						"name": "_lang",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Language"
					},
					{
						"name": "_charset",
						"schema": {
							"type": "string",
							"format": ""
						},
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"description": "Charset"
					}
				],
				"responses": {
					"200": {
						"description": ""
					},
					"202": {
						"description": ""
					}
				},
				"security": [
					{
						"Token-Auth": []
					}
				]
			}
		}
	},
	"components": {
		"securitySchemes": {
			"Token-Auth": {
				"type": "apiKey",
				"in": "header",
				"name": "X-RCMS-API-ACCESS-TOKEN"
			}
		}
	}
}
